body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #efecf8;
}

header {
    background: #35424a;
    color: #09c106;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.about-section, .mission-section, .values-section, .team-section {
    background: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #35424a;
}

.team-members {
    display: flex;
    justify-content: space-around;
}

.team-member {
    background: #655b62;
    color: blanchedalmond;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #35424a;
    color: #ffffff;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    color: #ffffff;
    text-decoration:double;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-media a:hover {
    color: #f4f4f4; /* Lighter color on hover */
    transform: scale(5.9); 
}
